/* .search-input {
    height: 40px;
    width: 50%;
    font-size: 1.5rem;
    border: 0.5px solid rgb(106, 104, 104);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 10px 5px 5px red;
} */

.Search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.Search-inbox {
    display: flex;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon {
    height: 30px;
    position: absolute;
    margin-left: 23%;
    position: fixed;
    /* margin-left: 5px; */
}

.search-input-inside {
    height: 40px;
    width: 50%;
    font-size: 1.5rem;
    border: 0.5px solid rgb(106, 104, 104);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 0px 5px 2.5px #ED213A;
}

input {
    background-color: transparent;
    border: none;
    height: 40px;
    font-size: 1.5rem;
    width: 85%;
    color: white;
}

input:focus{
    outline: none;
    
}

.search-btn {
    border: none;
    padding: 15px;
    position: absolute;
    margin-left: 44%;
    background: transparent;
}

.search-Input {
    height: 40px;
    width: 50%;
    font-size: 1.5rem;
    border: 0.5px solid rgb(106, 104, 104);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 0px 5px 2.5px #ED213A;   
}

.security-search {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.visually-hidden {
    text-align: center;
}